$white: #fff;
$lighter-gray: #f7f7f3;
$light-gray: #d9d9d9;
$gray: #747474;
$med-gray: #707070;
$dark-gray: #343434;
$darker-gray: #292929;
$black: #000;
$caption-gray: #555555;

$cream: #FAF8F0;
$green: #80C6A9;
$cta-teal: #BCD5D7;
$light-teal: #77B5BD;
$medium-teal:#1D8F75;
$dark-teal: #1E7479;
$dark-teal-hover: #075b60;
$purple: #861E4D;
$purple-hover: #6c0d34;
$brown: #af5b3a;
$dark-brown: #645541;

/* Campaign Color Spectrum */

$teal1: #297D81;
$teal2: $dark-teal;

$purple1: $purple;
$purple2: #811B4A;

$brown1: #B15B35;
$brown2: #BE623A;

$gold: #d9b86c;
$gold2: #c79b34;