.header-main {
	background: rgba($black, .6);
	padding: 0;
	position: fixed;
	left: 0;
	right: 0;
	z-index: 100;
	transition: .5s ease-in-out;
	&-inner {
		display: flex;
		justify-content: space-between;
		height: 65px;
		@media #{$tablet-landscape-up} {
			height: 85px;
		}
	}
	&.mobile-open {
		background: $black;
		@media #{$tablet-landscape-up} {
			background: rgba($black, .6);
		}
		ul {
			left: 0;
		}
	}
	ul {
		position: absolute;
	    top: 100%;
	    left: 100%;
	    margin: auto;
	    background: $black;
	    padding: 1rem 5% 2rem;
	    width: 100vw;
	    transition: .5s ease-in-out;
	    @media #{$tablet-landscape-up} {
	    	position: static;
	    	display: flex;
			padding: 0;
			margin: 0;
			background: transparent;
		}
	}
	li {
	    display: flex;
	    align-items: center;
	    padding: 0;
		&.active {
			a {
				color: $yellow;
			}
		}
		@media #{$tablet-landscape-up} {
			&:first-child {
				a {
					padding-left: 0;
				}
			}
		}
		a {
			font-size: 1.3em;
	    	letter-spacing: .05em;
			font-weight: 600;
			color: $white;
			display: block;
			padding: 1rem 0;
			@media #{$tablet-landscape-up} {
				padding: 1.5rem;
				&:hover {
				color: $yellow;
				}
			}
			&:hover {
				text-decoration: none;
			}
		}
	}
	&-logo {
		width: 60px;
		height: auto;
		display: flex;
		align-items: center;
		flex-shrink: 0;
		@media #{$tablet-landscape-up} {
			width: 80px;
		}
	}
	&-hamburger {
		display: flex;
		align-items: center;
		@media #{$tablet-landscape-up} {
			display: none;
		}
	}
}

#nav-icon {
 	width: 40px;
	height: 28px;
	position: relative;
	margin: 0;
	transform: rotate(0deg);
	transition: .5s ease-in-out;
	cursor: pointer;
	&:active, &:focus, &:active:focus {
	    outline: none;
	    border: none;
	}
	&.open span {
		background: $yellow;
	}
	&.open span:nth-child(1), &.open span:nth-child(6) {
  		transform: rotate(45deg);
	}
	&.open span:nth-child(2), &.open span:nth-child(5) {
		transform: rotate(-45deg);
	}
	&.open span:nth-child(1) {
  		left: 5px;
  		top: 6px;
	}
	&.open span:nth-child(2) {
  		left: calc(50% - 5px);
  		top: 6px;
	}
	&.open span:nth-child(3) {
  		left: -50%;
  		opacity: 0;
	}
	&.open span:nth-child(4) {
  		left: 100%;
  		opacity: 0;
	}
	&.open span:nth-child(5) {
  		left: 5px;
  		top: 17px;
	}
	&.open span:nth-child(6) {
  		left: calc(50% - 5px);
  		top: 17px;
	}
	span {
		display: block;
		position: absolute;
		height: 3px;
		width: 50%;
		background: $white;
		opacity: 1;
		transform: rotate(0deg);
		transition: .25s ease-in-out;
	}
	span:nth-child(even) {
		left: 50%;
		border-radius: 0 9px 9px 0;
	}
	span:nth-child(odd) {
  		left:0px;
  		border-radius: 9px 0 0 9px;
	}
	span:nth-child(1), span:nth-child(2) {
  		top: 2px;
	}
	span:nth-child(3), span:nth-child(4) {
  		top: 13px;
	}
	span:nth-child(5), span:nth-child(6) {
  		top: 24px;
	}
}