.site-header {
	background: $white;
	position: relative;
	padding: 2.75rem 0;
	border-bottom: 1px solid $light-gray;
	height: 95px;
	position: fixed;
    width: 100%;
    left: 0;
    right: 0;
    top: 0;
    z-index: 10;
	@media #{$tablet-up} {
		padding: 4rem 0 1.25rem;
		height: 152px;
	}
	.container {
		position: relative;
		z-index: 11;
	}
	&-menu-toggle, &-search, &-menu {
		position: absolute;
	}
	&-logo {
		max-width: 215px;
    	margin: auto;
    	@media #{$tablet-up} {
    		max-width: 460px;
    	}
		img {
			margin: 0 auto;
			display: block;
			width: 215px;
			@media #{$tablet-up} {
			    width: 415px;
			}
		}
	}
	&-read-time {
		position: absolute;
	    right: 35px;
	    top: -4px;
	    bottom: 0;
	    margin: auto;
	    background-image: url(assets/icons/read-time.png);
		background-repeat: no-repeat;
	    background-position: center;
	    background-size: 16px;
	    width: 28px;
	    height: 28px;
	    transition: all .3s ease;
	    cursor: pointer;

	    @media #{$tablet-up} {
	    	top: -2pxpx;
	    	height: 28px;
	    	background-size: 27px;
	    	right: 55px;
	    }
	}
	&-search {
		position: absolute;
	    right: 0;
	    top: -4px;
	    bottom: 0;
	    margin: auto;
	    background-image: url("data:image/svg+xml, #{$searchDarkTeal}");
		background-repeat: no-repeat;
	    background-position: center;
	    background-size: 16px;
	    width: 30px;
	    height: 28px;
	    transition: all .3s ease;
	    cursor: pointer;
	    @media #{$tablet-up} {
	    	top: 0px;
	    	height: 35px;
	    	background-size: 28px;
	    }
	    &:hover {
			background-image: url("data:image/svg+xml, #{$searchDarkTealHover}");
		}
	}
	&-menu {
		position: fixed;
	    left: 0;
	    right: 0;
	    top: 95px;
	    bottom: 0;
	    margin: auto;
	    background: rgba($white, .9);
	    z-index: 10;
	    overflow: scroll;
	    display: none;
	    @media #{$tablet-up} {
	    	top: 152px;
	    	&-wrap {
		    	clear: both;
		    	overflow: hidden;
		    }
		    &-nav {
		    	width: 25%;
	    		margin-right: 3rem;
	    		float: left;
	    	}
	    	&-feature {
	    		overflow: auto;
	    	}
	    }
	    &-inner {
	    	background: $white;
	    	z-index: 10;
	    	padding: 2rem 0;
	    	@media #{$tablet-up} {
	    		padding: 4rem 0;
	    	}
	    }
	    & > div {
	    	opacity: 0;
    		transition: all .8s ease;
    	}
	    &.open {
	    	& > div {
	    		opacity: 1;
	    	}
	    }
	    &-nav {
		    ul {
		    	margin: 0;
		    	padding: 0;
		    	list-style: none;
		    }
		    a {
		    	font-family: $font-sans-serif;
		    	text-transform: uppercase;
		    	text-decoration: none;
		    }
		    ul#primary-menu {
		    	& > li {
		    		margin-bottom: 1.5rem;
		    		@media #{$tablet-up} {
		    			margin-bottom: 2.5rem;
		    		}
		    		a {
			    		color: $dark-teal;
			    		font-size: 1.6em;
					    font-weight: 600;
					    letter-spacing: .01em;
					    @media #{$tablet-up} {
					    	font-size: 1.9em;
					    }
					    &:hover {
				            color: $dark-teal-hover;
				        }
			    	}
			    	&.button {
			    		transition: all .3s ease;
			    		padding: 0;
			    		a {
				    		text-transform: uppercase;
						    color: #fff;
						    font-size: 1em;
						    font-family: $font-sans-serif;
						    text-decoration: none;
						    text-align: center;
						    margin-bottom: 0;
						    width: 100%;
						    padding: .9rem;
						    font-weight: 400;
						}
			    	}
			    	ul.sub-menu {
			    		a {
			    			color: $dark-gray;
			    			font-weight: 400;
			    			font-size: 1.4em;
			    			&:hover {
					            color: $dark-teal-hover;
					        }
			    		}
			    	}
	    		}
	    		li {
	    			&.no-link > a {
	    				cursor: default;
	    				&:hover {
	    					color: $dark-teal;
	    				}
	    			}
	    		}
	    		a {
	    			display: block;
	    			padding: .4rem 0;
	    			@media #{$tablet-up} {
	    				padding: 0;
	    				margin-bottom: 1.5rem;
	    			}
	    		}
		    }
		}
		&-feature {
			&-title {
				font-family: $font-sans-serif;
		    	text-transform: uppercase;
		    	text-decoration: none;
	    		font-size: 1.6em;
			    font-weight: 600;
			    letter-spacing: .01em;
			    margin-bottom: 1em;
			    display: block;
			    color: $purple;
			    @media #{$tablet-up} {
			    	font-size: 1.9em;
			    }
			}
		}
		&-top {
			margin-bottom: 4rem;
			@media #{$tablet-landscape-up} {
				margin-bottom: 9rem;
			}
		}
		&-bottom {
			@media #{$phablet-up} {
				display: flex;
				width: 100%;
				& > div {
					flex-grow: 1;
					align-items: flex-end;
				}
			}
		}
		&-details, &-social {
			@media #{$tablet-up} {
				display: flex;
				text-align: left;
			}
		}
		&-details {
			a {
				width: 60px;

				@media #{$up-to-tablet} {
					display: block;
					margin: 0 auto 1rem;
					width: 85px;
				}
			}
			p {
			    font-family: $font-sans-serif;
			    font-size: 1.1em;
			    color: $gray;
			    margin: .25rem 0 1.5rem;
			    text-align: center;

			    @media #{$tablet-up} {
			    	font-size: 1.3em;
			    	margin-bottom: 0;
			    	margin-left: 1rem;
			    	text-align: left;
			    }
			}
		}
	}
	.card-wrap .learn-more {
		display: none;
	}

	.global-social-dropdown {
    	margin-top: -.75rem;

    	@media #{$tablet-up} {
    		display: none;
    	}
    }

    .global-social.gray {
        max-width: 195px;
        display: none;

        @media #{$tablet-up} {
        	display: block;
        }
    }
    
    .subscribe-btn a {
    	display: block;
   	 	margin: 1rem 0 2rem;
    }
}

.overflow-hidden {
	overflow: hidden;
}

.brought-by__bar {
	background-color: $gold;
	color: $white;
	font-family: $font-sans-serif;
	text-align: center;
	margin-bottom: .75rem;
	position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;

    @media #{$tablet-up} {
    	font-size: 12px;
    }

    .container {
	   	display: flex;
	   	flex-wrap: nowrap;
	    justify-content: space-between;
	    width: 100%;

	    @media #{$tablet-up} {
	    	width: 85.5%;
	    }
    }

    .attribution {
    	margin-top: .5rem;
    	margin-left: 5%;

    	@media #{$tablet-up} {
    		margin-left: 0;
    		margin-top: .9rem;
    	}
    	
    	@media #{$laptop-up} {
    		text-indent: 5.5rem;
    	}
    }

    .global-social {
        margin-top: .5rem;
        display: none;

        @media #{$tablet-up} {
        	display: block;
        }
    }

    .global-social-icon {
    	width: 20px;
    	height: 20px;
    	background-size: 20px;

    	@media #{$desktop-up} {
	    	width: 25px;
	    	height: 25px;
	    	background-size: 24px;
    	}
    }

    .subscribe {
    	color: $white;
    	background-color: $dark-teal;
    	display: block;
    	padding: .25rem .5rem .5rem;
    	font-weight: 500;
    	font-size: 10px;

    	@media #{$tablet-up} {
    		padding: .5rem 2rem .75rem;
   			padding-right: 10vw;
   			margin-right: -10vw;
    	}

    	&:before {
    		content: "";
    		display: inline-block;
    		position: relative;
    		background-image: url('assets/icons/email.png');
    		background-size: contain;
    		background-repeat: no-repeat;
    		width: 25px;
		    margin-top: 4px;
		    margin-bottom: -4px;
		    height: 15px;
    		margin-right: 3px;

    		@media #{$laptop-up} {
    			height: 20px;
    			margin-right: 8px;
    		}
    	}

    	@media #{$tablet-up} {
    		font-size: 12px;
    	}

    	@media #{$laptop-up} {
    		font-size: 18px;
    	}
    }
}

.read-time__menu {
	border: 1px solid $dark-teal;
	padding: 1rem 1.5rem;
	position: absolute;
	background-color: $white;
	min-width: 177px;
	text-align: center;
	display: none;
	right: 0;
    top: 40px;

	&.open  {
		display: block;
	}

	h3 {
		color: $dark-teal;
		text-transform: uppercase;
		font-size: 20px;
		margin-bottom: .75rem;
		font-weight: 800;
	}

	@media #{$tablet-up} {
	    top: 50px;
	    right: 0%;
	}

	ul {
		margin: 0;
		padding: 0;

		li {
			list-style-type: none;

			a {
				color: $dark-gray;
				display: block;
				padding: .65rem 0; 
				text-transform: uppercase;
				font-size: 16px;
				font-family: $font-sans-serif;

				&:hover {
					color: $dark-teal;
				}
			}
		}
	}
}