.mobilization-single-column-teaser {

    &__wrapper {
        position: relative;
    }

    &__image {
        width: 100%;
        margin-bottom: 1rem;

        @media #{$tablet-up} {
            margin-bottom: 0
        }
    }

    &__text-container {
        text-align: center;
        
        @media #{$tablet-up} {
            background-color: $white;
            bottom: 0;
            left: 50%;
            max-width: 1100px;
            padding: 2.5rem 4rem;
            position: absolute;
            transform: translateX(-50%);
            width: 80%;
        }
    }

    &__headline {
        color: $dark-teal;
        font-size: 2em;
        font-weight: 400;
        margin-bottom: 0.5rem;;

        @media #{$tablet-up} {
            font-size: 3em;
            margin-bottom: 1rem;;
        }

        @media #{$laptop-up} {
            font-size: 3.6em;
        }
    }

    &__description {
        color: $darker-gray;

        @media #{$tablet-up} {
            margin-bottom: 0;
        }

        @media #{$laptop-up} {
            font-size: 2em;
        }
    }

    &__button {
        display: block;
        margin: 1rem auto 0 auto;
    }
}
