@import "mobilization-pull-quote";
@import "mobilization-basic-hero";
@import "mobilization-single-column-teaser";
@import "mobilization-two-column-teaser";
@import "mobilization-embedded-video";
@import "mobilization-video-teaser";
@import "mobilization-promo";
@import "mobilization-card";
@import "mobilization-form";

.single-mobilization {
	background-color: $white;
}

.mobilization-section {
    margin-bottom: 4em;

    @media #{$tablet-up} {
        margin-bottom: 6em;
    }

    @media #{$tablet-up} {
        margin-bottom: 9em;
    }

    h1, h2, h3, h4 {
        @media #{$tablet-up} {
            letter-spacing: -1px;
        }
    }

    p {
        @media #{$tablet-up} {
            font-size: 2em;
        }
    }

    .highlight {
        background-color: $medium-teal;
        color: $white;
        display: inline-block;
        font-family: $font-sans-serif;
        font-size: 1.4em;
        padding: 0.1rem 0.75rem;
        margin-bottom: 1rem;
    }
}