.wp-block-table {
	margin: 0;
}

table,
td {
	border: 1px solid $gray;
}

td {
	padding: .5rem;
	font-size: 1.5em;
    margin: 0 0 1.5rem;
    line-height: 1.6em;
    color: $gray;
    @media #{$tablet-up} {
    	font-size: 1.8em;
    	line-height: 1.7em;
    }
}