.solution {
	background-color: $gray1;
	position: relative;
	z-index: 10;
	
	&-headline {
		max-width: 750px;
    	margin: 0 auto 3rem;

		@media #{$laptop-up} {
			margin: 0 auto 10rem;
		}
	}

	&-accordion {
		color: $white;
		cursor: pointer;
		background-color: $gray2;
		border: {
			top: 1px solid $white;
			left: 1px solid $white;
			right: 1px solid $white;
		}
		padding: 0 20px 1rem;

		@media #{$tablet-up} {
			padding: 0rem 50px 1rem;  
		}

		&:last-of-type {
			border-bottom: 1px solid $white;
		}

		&:nth-of-type(even) {
			.accordion-content__wrapper {
				flex-direction: row-reverse;
			}
		}

		.solution-accordion__headline.open {
			.tab-header { opacity: 0; }
			.tab-description { opacity: 1; }
		}

		&:hover {
			@media #{$tablet-landscape-up} {
				.tab-header { opacity: 0; }
				.tab-description { opacity: 1; }
			}
		}

		&-content {
			min-height: 30px;
		}

		&__headline {
			position: relative;
			margin-bottom: 3rem;

			.tab-header {
				position: absolute;
				left: 0;
				top: calc(50% - 1.4rem);
				opacity: 1;

				@media #{$tablet-up} {
					top: calc(50% - 2rem);
				}
			}

			.tab-description {
			    font-size: 2rem;
    			font-weight: 600;
			    margin-top: 1rem;
			    margin-bottom: 0;
				opacity: 0;
				width: 95%;

			    @media #{$tablet-up} {
					width: 75%;
			    }

			    @media #{$laptop-up} {
					width: 65%;
			    }
			}

			.tab-header,
			.tab-description {
				transition: all .3s ease-in-out;
			}
		}

		.accordion-index {
			background-color: $yellow;
			color: $black;
			text-align: center;
			min-width: 100px;
		    font-size: 2rem;
		    display: table;
		    padding: .5rem 0 .75rem;
		}

		.accordion-content__wrapper {
			margin-bottom: 2rem;
			margin-top: 1rem;

			@media #{$tablet-up} {
				display: flex;
				justify-content: space-between;
				margin-bottom: 3rem;
				margin-top: 1rem;
			}

			&>div {
				@media #{$tablet-up} {
					flex-basis: 50%;
				}

				@media #{$laptop-up} {
					flex-basis: 58%;
				}

				&:nth-of-type(2) {
					display: none;

					@media #{$tablet-up} {
						display: block;
						flex-basis: 46%;
					}
					@media #{$laptop-up} {
						flex-basis: 39%;
					}
				}

				img {
					width: 100%;
				}

				p,
				span,
				ul, 
				li {
					font-size: 1.6rem;
				}

				blockquote {
					position: relative;
					margin: 4rem 0 4rem 45px;
					@media #{$tablet-up} {
					    margin: 6.5rem 0 6.5rem 45px;
					}
					&:before {
						content: "“";
						font-size: 100px;
					    position: absolute;
					    left: -46px;
					    top: -22px;
					    line-height: 1;
					    color: $yellow;
					}
					p {
						font-size: 20px;
						margin-bottom: 1rem;
						@media #{$phablet-up} {
							font-size: 25px;
							line-height: 33px;
						}
					}
					footer {
						font-size: 1.4rem;
						@media #{$phablet-up} {
							font-size: 1.6rem;
						}
					}
				}

				ul {
					@media #{$tablet-up} {
						padding: 0 5rem;
					}

					li {
						list-style-type: none;
						margin: 1.5rem 0;
						position: relative;

						&:before {
							background-color: $yellow;
							content: '';
							line-height: 5px;
							display: inline-block;
							height: 5px;
							left: 0;
							position: relative;
							width: 5px;
							margin: .25rem 1rem .3rem 0;
						}
					}
				}

			}
		}
	}
}

.solution,
.solution-accordion__headline open {
	&:active, &:focus, &:active:focus {
	    outline: none;
	    border: none;
	}
}

.solution-accordion {
	&:active, &:focus, &:active:focus {
	    outline: none;
	    border: 1px solid $white;
	}
}